@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "./header.css";
@import "./footer.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  text-decoration: none !important;
  list-style: none;
}

:root {
  --orange-color: #e76404;
  --olive-color: #c3a869;
  --white-color: #effdfc;
  --black-color: #000;
  --light-blue-color: #effdfc;
  font-size: 17px;
}

html::selection {
  background-color: #0c6460;
  color: var(--white-color);
  padding: 15px 20px;
}

body {
  font-family: "Space Grotesk", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin-block-end: 0;
}
.page-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
/* main loading section (full screen) */
.main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  z-index: 9999;
}

.pulse-logo {
  animation: pulse 1.5s infinite;
  position: relative;
  width: 50%;
  max-width: 400px;
}

.pulse-logo img {
  max-width: 100%;
}

.pulse-logo::after {
  content: "";
  position: absolute;
  width: 115%;
  aspect-ratio: 1/1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 3px solid var(--olive-color);
  border-radius: 50%;
  animation: spin 1.5s infinite;
}
/* spin animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}
/* rounded corners */
.rounded-z-lg {
  border-start-start-radius: 100px;
  border-end-end-radius: 100px;
  overflow: hidden;
}
.rounded-z-md {
  border-start-start-radius: 50px;
  border-end-end-radius: 50px;
  overflow: hidden;
}
.rounded-z-sm {
  border-start-start-radius: 30px;
  border-end-end-radius: 30px;
  overflow: hidden;
}
/* pages heading */
.page-heading {
  background-image: url("../assets/images/service/large-banner.png");
  background-position: center;
  padding: 215px 0;
  border-start-start-radius: 150px;
}
.page-title {
  color: var(--white-color);
  font-size: 60px;
  font-weight: 700;
  position: relative;
  letter-spacing: -2px;
}

.page-title::before {
  content: attr(data-watermark);
  position: absolute;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Space Grotesk", sans-serif;
  opacity: 0.05;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  white-space: nowrap;
  vertical-align: middle;
}
.page-title::after {
  content: "";
  height: 5px;
  position: absolute;
  top: -20px;
  left: 0;
  transition: all 0.3s ease;
  background: #e76404;
  width: 65px;
  margin: 0 auto;
}

@media (max-width: 768px) {
.page-heading {
  padding: 135px 0;
  border-start-start-radius: 70px;
}
.page-title {
  font-size: 30px;
}

.page-title::before {
  font-size: 70px;
}
.page-title::after {
  top: -15px;
}
}
/* responsive containers */
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}
/* @media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
} */
