@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  text-decoration: none !important;
  list-style: none;
}

:root {
  --orange-color: #e76404;
  --olive-color: #c3a869;
  --white-color: #effdfc;
  --black-color: #000;
  --light-blue-color: #effdfc;
  font-size: 17px;
}

html::selection {
  background-color: #0c6460;
  color: var(--white-color);
  padding: 15px 20px;
}

body {
  font-family: "Space Grotesk", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin-block-end: 0;
}
/* main loading section (full screen) */
.main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  z-index: 9999;
}

.pulse-logo {
  animation: pulse 1.5s infinite;
  position: relative;
  width: 50%;
  max-width: 400px;
}

.pulse-logo img {
  max-width: 100%;
}

.pulse-logo::after {
  content: "";
  position: absolute;
  width: 115%;
  aspect-ratio: 1/1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 3px solid var(--olive-color);
  border-radius: 50%;
  animation: spin 1.5s infinite;
}
/* rounded corners */
.rounded-z-lg {
  border-start-start-radius: 100px;
  border-end-end-radius: 100px;
  overflow: hidden;
}
.rounded-z-md {
  border-start-start-radius: 50px;
  border-end-end-radius: 50px;
  overflow: hidden;
}
.rounded-z-sm {
  border-start-start-radius: 30px;
  border-end-end-radius: 30px;
  overflow: hidden;
}
/* start header */
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s;
  z-index: 99;
}
/* add active */
.header.active {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 1px 4px 0px #0a0a0a;
}

.header.active .links ul li a {
  color: #0a0a0a;
}
.header.active .links ul li a:hover {
  color: var(--olive-color);
}
.header.active .btn {
  background-color: #0a0a0a;
  color: #ffffff;
}

/* end active */

.header .logo img {
  width: 170px;
}

.header .container {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.links ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.links ul li a {
  color: white;
  font-size: 16px;
  font-family: var(--font-family);
  text-transform: capitalize;
  transition: 0.2s;
}

.links ul li a:hover {
  color: var(--olive-color);
}

.links .drobdwon .plus {
  color: white;
  font-size: 10px;
  transition: 0.6s;
}

.links .drobdwon .minus {
  color: white;
  font-size: 10px;
  display: none;
  transition: 0.6s;
}

.links .drobdwon:hover .minus {
  display: inline;
}

.links .drobdwon:hover .plus {
  display: none;
}

.drobdwon {
  position: relative;
}

.drobdwon .drop_links {
  position: absolute;
  top: 30px;
  top: 35px;
  transition: 0.3s;
  background-color: white;
  width: 200px;
  padding: 15px 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.drobdwon:hover .drop_links {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.drobdwon .drop_links li {
  padding: 6px 10px;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

.drobdwon .drop_links li a {
  color: black;
  font-family: var(--font-family);
  text-transform: capitalize;
  font-size: 14px;
  transition: 0.2s;
}

.drop_links li a:hover {
  color: var(--olive-color);
}
.btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--font-family);
  background: #ffffff;
  padding: 12px 28px 12px 28px;
  transition: all 0.4s;
  /* padding: 12px 28px; */
}

.btn::after {
  position: absolute;
  content: "";
  height: 40%;
  width: 2%;
  background-color: var(--olive-color);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: 0.4s;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: "";
  height: 40%;
  width: 2%;
  background-color: var(--olive-color);
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  transition: 0.4s;
  z-index: 1;
}
.btn:hover::before,
.btn:hover:after {
  height: 100%;
  z-index: -1;
  width: 50%;
}

.btn:hover {
  color: white;
  z-index: 5;
}

/* none menu */
.header .menu {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}
.header.active .menu {
  color: #0a0a0a;
}

/* header responsive */

.header_responsive {
  position: fixed;
  right: -100%;
  top: 0;
  width: 0%;
  background: #e2e9f7;
  text-align: left;
  padding: 15px 30px;
  height: 100vh;
  overflow-y: auto;
  transition: 0.8s;
}

.header_responsive.active {
  right: 0;
  transition: 1s;
}

.header_responsive .close {
  text-align: right;
  cursor: pointer;
  font-size: 25px;
  color: #0a0a0a;
  font-weight: normal;
}

.header_responsive ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.7375rem;
  padding: 0;
}
.b_res {
  border-top: 1px solid #d0d5df;
  margin: 10px 0;
}
.header_responsive ul li {
  border-bottom: 1px solid #d0d5df;
  padding: 5px 0;
}

.header_responsive ul li a {
  color: #0a0a0a;
  font-size: 16px;
  text-transform: capitalize;
}

.header_responsive .list {
  display: flex;
  align-items: center;
  gap: 0.825rem;
  margin-top: 35px;
}

.header_responsive .service_list {
  overflow: hidden;
}

.header_responsive .service_list .service_plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_responsive .service_list .drop_lists {
  height: 0;
  margin-top: 5px;
  transition: 1s;
}
.header_responsive .service_list .drop_lists.active {
  height: 420px;
  margin-top: 5px;
}

@media (max-width: 950px) {
  .header .links {
    display: none;
  }
  .header .menu {
    display: inline;
  }
  .header_responsive {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .header_responsive {
    width: 100%;
    height: 100vh;
    transition: 1s;
  }

  .header .menu {
    padding: 0 25px;
    margin-top: 20px;
  }
}

/*  */

.header_responsive .list h3 {
  font-size: 16px;
  color: #333333;
}
.header_responsive .list p {
  font-size: 15px;
  color: #333333;
}
.header_responsive .list img {
  width: 30px;
}

/* add none to plus and minus */

#service_minus {
  display: none;
}
#service_minus.active {
  display: inline;
}
#services_plus.active {
  display: none;
}

/* end header */
/* start footer */

footer {
  background-color: #160d2c;
  background-image: url("../assets/images/footer-map.png");
  background-position: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 80px;
  padding-bottom: 15px;
}

footer .container .box {
  width: 23%;
}

footer .container .box h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-family);
}

footer .container .box h3 {
  position: relative;
  margin-bottom: 40px;
  margin-top: 15px;
  cursor: pointer;
}

footer .container .box h3::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 4px;
  background-color: #c3a968;
}
footer .container .box h3::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 4px;
  left: 5px;
  background-color: #160d2c;
  transition: 0.8s;
}

footer .container .box h3:hover::after {
  left: 50px;
}

footer .container .box p {
  font-size: 16px;
  color: #effdfc;
}

footer .container .box .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

footer .container .box .list li {
  width: 30px;
  height: 30px;
  background-color: #191529;
  text-align: center;
  line-height: 30px;
}
footer .container .box .list li a {
  color: var(--white-color) !important;
  transition: 0.2s;
}
footer .container .box .list li:hover a {
  color: var(--orange-color) !important;
}

footer .container .box .order_list li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

footer .container .box .order_list li a {
  font-size: 16px;
  color: white;
  transition: 0.2s;
}

footer .container .box .order_list li a:hover {
  color: #ff6d00;
}
.footr_bottom {
  border-top: 1px solid #ffffff2a;
}
.footr_bottom .container {
  padding: 15px 0;
}
.footr_bottom .container p {
  font-size: 16px;
}

.footr_bottom .container .links {
  display: flex;
  gap: 45px;
}

.footr_bottom .container .links li {
  position: relative;
}

.footr_bottom .container .links li a {
  color: white;
  transition: 0.3s;
}
.footr_bottom .container .links li a:hover {
  color: #ff6d00;
}

.footr_bottom .container .links li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ff6d00;
  border-radius: 50%;
  top: 10px;
  left: -18px;
}

@media (max-width: 950px) {
  footer .container {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 15px;
  }

  footer .container .box {
    width: 100%;
  }
  .footr_bottom .container {
    padding: 10px 10px;
  }
}
/* end footer */

/* spin animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}
/* responsive containers */
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}
/* @media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
} */

/* header */

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s;
}
/* add active */
.header.active {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 1px 4px 0px #0a0a0a;
}

.header.active .links ul li a {
  color: #0a0a0a;
}
.header.active .links ul li a:hover {
  color: var(--olive-color);
}
.header.active .btn {
  background-color: #0a0a0a;
  color: #ffffff;
}

/* end active */

.header .logo img {
  width: 170px;
}

.header .container {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.links ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.links ul li a {
  color: white;
  font-size: 16px;
  font-family: var(--font-family);
  text-transform: capitalize;
  transition: 0.2s;
}

.links ul li a:hover {
  color: var(--olive-color);
}

.links .drobdwon .plus {
  color: white;
  font-size: 10px;
  transition: 0.6s;
}

.links .drobdwon .minus {
  color: white;
  font-size: 10px;
  display: none;
  transition: 0.6s;
}

.links .drobdwon:hover .minus {
  display: inline;
}

.links .drobdwon:hover .plus {
  display: none;
}

.drobdwon {
  position: relative;
}

.drobdwon .drop_links {
  position: absolute;
  top: 30px;
  top: 35px;
  transition: 0.3s;
  background-color: white;
  width: 200px;
  padding: 15px 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 999;
}

.drobdwon:hover .drop_links {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 999;
}

.drobdwon .drop_links li {
  padding: 6px 10px;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

.drobdwon .drop_links li a {
  color: black;
  font-family: var(--font-family);
  text-transform: capitalize;
  font-size: 14px;
  transition: 0.2s;
}

.drop_links li a:hover {
  color: var(--olive-color);
}
.btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--font-family);
  background: #ffffff;
  padding: 12px 28px 12px 28px;
  transition: all 0.4s;
  /* padding: 12px 28px; */
}

.btn::after {
  position: absolute;
  content: "";
  height: 40%;
  width: 2%;
  background-color: var(--olive-color);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: 0.4s;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: "";
  height: 40%;
  width: 2%;
  background-color: var(--olive-color);
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  transition: 0.4s;
  z-index: 1;
}
.btn:hover::before,
.btn:hover:after {
  height: 100%;
  z-index: -1;
  width: 50%;
}

.btn:hover {
  color: white;
  z-index: 5;
}

/* footer */

footer {
  background-color: #160d2c;
  background-image: url("../assets/images/footer-map.png");
  background-position: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 80px;
  padding-bottom: 15px;
}

footer .container .box {
  width: 23%;
}

footer .container .box h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-family);
}

footer .container .box h3 {
  position: relative;
  margin-bottom: 40px;
  margin-top: 15px;
  cursor: pointer;
}

footer .container .box h3::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 4px;
  background-color: #c3a968;
}
footer .container .box h3::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 4px;
  left: 5px;
  background-color: #160d2c;
  transition: 0.8s;
}

footer .container .box h3:hover::after {
  left: 50px;
}

footer .container .box p {
  font-size: 16px;
  color: #effdfc;
}

footer .container .box .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

footer .container .box .list li {
  width: 30px;
  height: 30px;
  background-color: #191529;
  text-align: center;
  line-height: 30px;
}
footer .container .box .list li a {
  color: var(--white-color) !important;
  transition: 0.2s;
}
footer .container .box .list li:hover a {
  color: var(--orange-color) !important;
}

footer .container .box .order_list li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

footer .container .box .order_list li a {
  font-size: 16px;
  color: white;
  transition: 0.2s;
}

footer .container .box .order_list li a:hover {
  color: #ff6d00;
}
.footr_bottom {
  border-top: 1px solid #ffffff2a;
}
.footr_bottom .container {
  padding: 15px 0;
}
.footr_bottom .container p {
  font-size: 16px;
}

.footr_bottom .container .links {
  display: flex;
  gap: 45px;
}

.footr_bottom .container .links li {
  position: relative;
}

.footr_bottom .container .links li a {
  color: white;
  transition: 0.3s;
}
.footr_bottom .container .links li a:hover {
  color: #ff6d00;
}

.footr_bottom .container .links li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ff6d00;
  border-radius: 50%;
  top: 10px;
  left: -18px;
}

@media (max-width: 950px) {
  footer .container {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 15px;
  }

  footer .container .box {
    width: 100%;
  }
  .footr_bottom .container {
    padding: 10px 10px;
  }
}
