@import "./main.css";
/* services section */
.services-section {
  padding: 120px 0;
}
.service-card {
  display: block;
  background: var(--light-blue-color);
  padding: 40px 50px;
  height: 100%;
  border-start-start-radius: 50px;
  border-end-end-radius: 50px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}
.service-card:hover {
  transform: translateY(-10px);
  color: var(--orange-color);
}
.service-card_img {
  width: 90px;
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  /* services section */
  .services-section {
    padding: 60px 0;
  }
  .service-card {
    padding: 20px 25px;
  }
  .service-card_img {
    width: 90px;
    aspect-ratio: 1/1;
  }
}
